
@font-face {
	font-family: TS; 
	src: url('assets/font/roboto/Roboto-Regular.ttf'); 
} 

@font-face { 
	font-family: TSB; 
	font-weight: bold; 
	src: url('assets/font/roboto/Roboto-Bold.ttf'); 
}

@font-face { 
	font-family: TSM; 
	font-weight: bold; 
	src: url('assets/font/roboto/Roboto-Black.ttf'); 
}

* {
	font-size: 12px;
	font-family: inherit;
	line-height: 12px;
	font-size: inherit;
	line-height: inherit;

	padding: 0;
	margin: 0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body, #wrapper {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: TS;
}

.hidecursor,
.hidecursor * {
	cursor: none !important;
}

#wrapper {
	background: #1A1B1A;
}

.dg.ac {
	z-index: 10;
}

#menu {
	position: absolute;
	top: 5%;
	left: 5%;
	bottom: 5%;
	right: 5%;
	z-index: 5;
	background: rgba(34, 34, 34, .8);
	color: #0EA7FF;
	font-family: 'TSB';
	font-size: 35px;
	line-height: 35px;
}


.game-name {
	position: absolute;
	top: 8%;
	font-family: 'TSM';
	font-size: 69px;
	line-height: 69px;
	left: 5%;
}

.levels {
	position: absolute;
	top: 8%;
	left: 600px;
}

.levels div {
	text-align: center;
	height: 65px;
	width: 350px;
	background: rgba(14, 167, 255, .2);
	margin: 10px 0;
	line-height: 56px;
}

.levels div:hover,
.levels div.selected {
	cursor: pointer;
	background: rgba(14, 167, 255, .6);
	color: #59CBFF;
}
.levels div.selected:hover {
	cursor: default;
}

.instrucitons {
	position: absolute;
	top: 25%;
	font-size: 20px;
	line-height: 20px;
	left: 5%;
}

.instrucitons li {
	line-height: 25px;
	list-style-type:none;
}

.instrucitons li:before {
   content: "#";
   font-size: 80%;
   padding-right: 10px;
}

#startbutton,
#retrybutton,
#mainmenubutton {
	position: absolute;
	background: rgba(14, 167, 255, .2);
	padding: 25px 0px;
	bottom: 10%;
	left: 600px;
	width: 350px;
	text-align: center;
	color: #59CBFF;
	cursor: pointer;
}

#mainmenubutton {
	left: 5%;
}

#startbutton:hover,
#retrybutton:hover,
#mainmenubutton:hover {
	background: rgba(14, 167, 255, .6);
}


#loader {
	position: absolute;
	z-index: 8;

	top: 50%;
	left: 5%;
	right: 5%;
	height: 70px;
	margin-top: -35px;

	background: rgba(50, 50, 50, .8);
}

#loader div:nth-child(1) {
	position: absolute;
	left: 0;
	width: 0%;
	height: inherit;
	background: rgba(14, 167, 255, .5);

	-webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

#loader div:nth-child(2) {
	position: absolute;
	left: 0;
	width: 100%;
	height: inherit;
	
	text-align: center;
	color: #0EA7FF;
	font-family: 'TSB';
	font-size: 35px;
	line-height: 62px;

}

.points {
	position: absolute;
	top: 8%;
	left: 600px;
	font-size: 45px;
	line-height: 55px;
	font-family: 'TSM';
}
.score {
	font-size: 55px;
	line-height: 55px;
	vertical-align: top;
	margin-left: 15px;
}


.retrymenu #startbutton,
.retrymenu .levels {
	display: none;
}

.startmenu #retrybutton,
.startmenu #mainmenubutton,
.startmenu .points {
	display: none;
}